html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}
#topdiv { 
  background: white;
  margin: 0px;      
        
        }
button{
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid goldenrod;
  background: gold;
  font-size:20px;
}
input {
  display: inline;
  margin-right: auto + 10px;
  margin-left: auto + 10px;
margin-top: 5px;
  width: 150px;
  height: 100px;
  font-size:44px;
}
p {
  font-size: 20px;
}
